<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Responsivebannerslider>
            <version>0.1.0</version>
        </Wage_Responsivebannerslider>
    </modules>
    <frontend>
        <routers>
            <responsivebannerslider>
                <use>standard</use>
                <args>
                    <module>Wage_Responsivebannerslider</module>
                    <frontName>responsivebannerslider</frontName>
                </args>
            </responsivebannerslider>
        </routers>
        <layout>
            <updates>
                <responsivebannerslider>
                    <file>responsivebannerslider.xml</file>
                </responsivebannerslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<responsivebannerslider>
				<use>admin</use>
				<args>
					<module>Wage_Responsivebannerslider</module>
					<frontName>responsivebannerslider</frontName>
				</args>
			</responsivebannerslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<bannerslider module="responsivebannerslider">
				<title>Banner Slider</title>
				<sort_order>71</sort_order>               
                <action>responsivebannerslider/adminhtml_responsivebannerslider</action>
			</bannerslider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Wage_Responsivebannerslider>
							<title>Responsivebannerslider Module</title>
							<sort_order>10</sort_order>
						</Wage_Responsivebannerslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<responsivebannerslider>
					<file>responsivebannerslider.xml</file>
				</responsivebannerslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <responsivebannerslider>
                <class>Wage_Responsivebannerslider_Model</class>
                <resourceModel>responsivebannerslider_mysql4</resourceModel>
            </responsivebannerslider>
            <responsivebannerslider_mysql4>
                <class>Wage_Responsivebannerslider_Model_Mysql4</class>
                <entities>
                    <responsivebannerslider>
                        <table>responsivebannerslider</table>
                    </responsivebannerslider>
                </entities>
            </responsivebannerslider_mysql4>
        </models>
        <resources>
            <responsivebannerslider_setup>
                <setup>
                    <module>Wage_Responsivebannerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </responsivebannerslider_setup>
            <responsivebannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </responsivebannerslider_write>
            <responsivebannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </responsivebannerslider_read>
        </resources>
        <blocks>
            <responsivebannerslider>
                <class>Wage_Responsivebannerslider_Block</class>
            </responsivebannerslider>
        </blocks>
        <helpers>
            <responsivebannerslider>
                <class>Wage_Responsivebannerslider_Helper</class>
            </responsivebannerslider>
        </helpers>
    </global>
</config>